{% extends "base.html" %}

{% block content %}
<h1 class="access">Изменение заказа</h1>
<h4 class="access">Ранее добаленные данные</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Номер заказа</th>
        <th scope="col">Название заказа</th>
        <th scope="col">Описание заказа</th>
        <th scope="col">Цена заказа</th>
        <th scope="col">Заказчик</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="col">{{ order.id }}</th>
        <th scope="col">{{ order.title }}</th>
        <th scope="col">{{ order.describtion }}</th>
        <th scope="col">{{ order.price }}</th>
        <th scope="col">{{ customer.full_name }}</th>
    </tr>
    </tbody>
</table>
<form class="base_form"  method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.describtion.label }}<br>
        {{ form.describtion(class="form-control") }}<br>
        {% for error in form.describtion.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.client_list.label }}<br>
        {{ form.client_list(class="form-control") }}<br>
        {% for error in form.client_list.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p> {{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}