{% extends "base.html" %}
{% block content %}
<h1 class="access">Выберете клиента, которого хотите изменить</h1>
<form class="base_form" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.client_list.label }}<br>
        {{ form.client_list(class="form-control") }}<br>
        {% for error in form.client_list.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p> {{ form.submit(type="submit", class="btn btn-warning") }}
</form>
{% endblock %}