{% extends "base.html" %}

{% block content %}
<h1 class="access">Удаленияе заказа</h1>
<form class="base_form"  method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.order_list.label }}<br>
        {{ form.order_list(class="form-control") }}<br>
        {% for error in form.order_list.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p> {{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}