{% extends "base.html" %}

{% block content %}
<div>
    {% if current_user.is_authenticated %}
        <a class="btn btn-primary" href="/create_client">Создать клиента</a>
        <a class="btn btn-primary" href="/delete_client">Удалить клиента</a>
        <a class="btn btn-primary" href="/change_client">Изменить клиента</a>
        <a class="btn btn-primary" href="/get_all_clients">Список клиентов</a>
        <a class="btn btn-primary" href="/create_order">Создать заказ</a>
        <a class="btn btn-primary" href="/delete_order">Удалить заказ</a>
        <a class="btn btn-primary" href="/change_order_choice">Изменить заказ</a>
        <a class="btn btn-primary" href="/get_all_orders">Список заказов</a>
    {% else %}
        <p class="font-weight-bold">Вы не авторизованы</p>
    {% endif %}
</div>
{% endblock %}