{% extends "base.html" %}

{% block content %}
<div>
    {% if current_user.is_authenticated %}
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-warning" href="/create_client">Создать клиента</a>
        <a class="btn btn-warning" href="/change_client_choice">Изменить клиента</a>
        <a class="btn btn-warning" href="/delete_client">Удалить клиента</a>
        <a class="btn btn-warning" href="/get_all_clients">Список клиентов</a>
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-dark" href="/create_order">Создать заказ</a>
        <a class="btn btn-dark" href="/change_order_choice">Изменить заказ</a>
        <a class="btn btn-dark" href="/delete_order">Удалить заказ</a>
        <a class="btn btn-dark" href="/get_all_orders">Список заказов</a>
    {% else %}
        <p class="font-weight-bold">Вы не авторизованы</p>
    {% endif %}
    </div>
</div>
{% endblock %}